# dependencies
/node_modules

# next.js build output
/.next
/out
/build
*.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests
/coverage
/.nyc_output

# os
.DS_Store

# ide
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env files
.env
.env.*
!.env.example

# temp
.temp
.tmp
